<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Jos&eacute; Angel Martinez</h1>
                <ngx-typed-js 
                    [strings]="['Backend Developer^1500', 'Frontend Developer^1500']"  
                    [typeSpeed]="100" 
                    [backSpeed]="100"  
                    [loop]="true">
                    <h2> <span class="typing"></span></h2>
                </ngx-typed-js>
                <!--<h2>Programador <span class="blue-color">FullStack</span></h2>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 contact-data">
                <img src="assets/img/geo.svg" alt="Ubicacion" width="50" >
                <p>Calle Teodosio Angelino, residencias Barcelona<br>Edo Miranda<br>Venezuela</p>
            </div>


    
            <div class="col-md-4 contact-data">
                <img src="assets/img/whatsapp.svg" alt="Whatsapp" width="50">
                <p>+58 414 2555398</p>
            </div>
            <div class="col-md-4 contact-data">
                <img src="assets/img/gmail.svg" alt="Gmail" width="50">
                <p>martinezjam.m88@gmail.com</p>
            </div>
        </div>
    </div>
</div>