.about{
    padding: 20px 0 70px;
}

.about .bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h1{
    text-align: center;
    font-weight: bolder;
}
.about h3{
    font-weight: bolder;
    padding-bottom: 10px;
}
.blue-color{
    color: rgb(200, 108, 0);
}
.about p{
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
}
.about strong{
    font-weight: 600;
}
#imageProfile{
    border-radius: 95px;
    width: 100%;
    margin: auto;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
}
.bio-details{
    list-style: none;
    padding: 0;
    font-size: 14px;
}
.bio-details li{
    padding: 12px 0;
}
.download_button{
    width: 50%;
}
.download_button:hover{
    text-decoration: none;
}
.opc_descarga{
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.mat-pdf{
    background-color: rgb(190, 0, 0);
    color: #fff;
}
.mat-word{
    background-color: rgb(24, 86, 202);
    color: #fff;
}
.mat-icon {
    color: #c86c00;
}
@media (max-width:600px){
    .bio-details li{
        padding: 2px 0;
    }
    .about h3{
        font-weight: bolder;
        padding: 15px 0px 0px;
    }
}